/* Visit http://www.menucool.com/ninja-slider.aspx for instructions */

#ninja-slider
{
    width:100%;
    margin:0 auto; /*center aligned*/
    background:#222;
}
#ninja-slider > ul
{
    padding:20px 0;
}

/* slide */
#ninja-slider li > div, #ninja-slider li > a
{
    max-width:960px;
    margin:0 auto; /* center each slide */
    border-radius:6px;
    /*background:#999;*/
    position: relative;
    display:block;
    box-shadow: 0 1px 5px rgba(0,0,0,.8),inset 0 0 1px rgba(255,255,255,.4);
}

/* loading image indicator */    
#ninja-slider div.preload 
{
    background: black url(img/loading.gif) no-repeat center center;
}

/*----- video -----*/
#ninja-slider a.video 
{
	position:absolute;
    border:0;top:0;left:0;
	width:100%;height:100%;
	background:transparent url(img/video.png) no-repeat 50% 50%;
}
  
/*------ pager ------*/      
/* The pager id should be: slider id + "-pager" */    
#ninja-slider-pager
{
    padding-top:12px; /* set the distance away from the slider */
    margin:0 auto; /* center align */
    text-align:center;
    display:table;
    font-size:0;
}
         
#ninja-slider-pager a 
{
    display:inline-block;
    width: 10px;
    height: 10px;
    background-color: #CCCCCC;
    font-size:0;
    margin:2px 6px;
    cursor:pointer;
    border-radius:10px;
    box-shadow:inset 0 1px 3px #666666;
}
#ninja-slider-pager a:hover 
{
    opacity:0.6;
}
#ninja-slider-pager a.active 
{
    background-color:#1293dc;
    box-shadow:inset 0 1px 3px -1px #28b4ea,0 1px 1px rgba(0,0,0,.5);
    background-image:linear-gradient(top,#1293dc,#0f6297);
}
 
/* --------- navigation controls ------- */   
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */    
#ninja-slider-prev, #ninja-slider-next
{
    position: absolute;
    top: 40%;
    width:64px;
    height:64px;
    display:inline-block;
    margin:0;
    background-image: url(img/navs.png);
}
#ninja-slider-prev {
    left: 0;
    background-position:0 0;
}
#ninja-slider-prev:hover {background-position:0 -64px;}

#ninja-slider-next {
    right: 0;
    background-position:-64px 0;
}
#ninja-slider-next:hover {background-position:-64px -64px;}

#ninja-slider-pause-play { display:none;}



/*------- Settings that usually don't need to change ------- */
#ninja-slider > ul
{
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
    backface-visibility: hidden;
    perspective: 1000px;
    -webkit-tap-highlight-color: transparent;
}

#ninja-slider-pager, #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#ninja-slider
{
    position: relative;
    overflow: hidden;
    /*visibility: hidden;*/
    padding:0;
}
#ninja-slider > ul
{
    overflow: hidden;
    position: relative;
    list-style:none;
    margin:0;
}

#ninja-slider > ul > li
{
    float: left;
    width: 100%;
    position: relative;
    list-style:none;
    padding:0;margin:0;
}
