.img-center {
    margin: 0 auto;
}

.navbar-nav > li > a, .navbar-brand {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Lobster', cursive;
    text-transform: lowercase;
}

.navbar .nav {
    min-height:28px !important;
}

.navbar-default {
    margin-bottom: 0;
}

hr.fancy {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.intro-text {
    text-transform: lowercase;
    font-size: 3em;
    font-family: 'Poiret One', cursive;
}

.logo-box {
    margin-bottom: 0;
    padding: 0;
}

.navbar-brand {
    margin-left: 20px;
}

.carousel-box {
    margin-bottom: 0;
}

.thumbnail {
    border: 2px solid #002233;
    box-shadow: none;
}

.dropdown-menu li a {
    text-transform: lowercase !important;
}