.img-center {
    margin: 0 auto;
}

.navbar-nav > li > a, .navbar-brand {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Lobster', cursive;
    text-transform: lowercase;
}

.navbar .nav {
    min-height:28px !important;
}