/* Positions bodies in page */
.thumbnail-body, .slideshow-body, .bio-body {
	max-width: 60%;
	margin-top: 50px;
}

/* Removes bootstrap frame from thumbnails */
.thumbnail {
    border: 0 none;
    box-shadow: none;
}

/* Make the word INSPIRATION cool */
#inspiration {
	color: red;
	font-style: normal;
	font-weight: bold;
}

/********** Mobile **********/
@media screen and (max-width: 750px) {
	/* Moves Thumbnail body closer to top */
	.thumbnail-body, .slideshow-body, .bio-body {
		margin-top: 10px;
		max-width: 95%;
	}
}