<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    {% block meta-title %}<title>MJ Art Inspiration</title>{% endblock %}
	<link rel="stylesheet" type="text/css" href="/static/libs/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/libs/camera.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/site.css" >
</head>

<body>


    <!-- Header -->
	<div class="container-fluid">
		<div class="page-header">
			<h2>MJ ART <i class="bold">INSPIRATION</i></h2>
		</div>
	</div>


    <!-- Navbar -->
	<div class="container-fluid">
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/">MJART</a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="/">Home</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                        {% block gallery-dropdown %}
                        {% for gallery in Galleries %}
                        <li><a href="/{{ gallery.slug }}">{{ gallery.title }}</a></li>
                        {% endfor %}
                        {% endblock %}
                  </ul>
		        </li>
		        <li><a href="/contact">Contact</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</div>

    {% block body %}

    {% endblock %}


</body>

<footer>
    {% block scripts %}
    <script type="text/javascript" src="/static/libs/jquery.min.js"></script>
	<script type="text/javascript" src="/static/libs/jquery.easing.js"></script>
	<script type="text/javascript" src="/static/libs/jquery.mobile.customized.min.js"></script>
	<script type="text/javascript" src="/static/libs/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/libs/camera.min.js"></script>
	<script>
		jQuery('.camera_wrap').camera(
			{
				loader: 'none',
				hover: 'false',
				time: '1000'
			});
	</script>
	<script src="/static/libs/abigimage.min.js"></script>
	<script>
		jQuery('.thumbnail').abigimage();
	</script>
    {% endblock %}
</footer>
</html>