{% extends "base.html" %}
{% block meta-title %}
<title>Contact Me | MJ Art Inspiration</title>
{% endblock %}
{% block body %}
{% autoescape off %}
<div class="container-fluid bio-body">
    <div class="media">
        <a class="pull-left">
            <img src="/static/images/marissa.jpg"  alt=""/>
        </a>
        <div class="media-body">
            <h2 class="media-heading">
                Hi!  I'm Marissa
            </h2>
            <p>
                {{ Text }}
            </p>
        </div>
    </div>
</div>
{% endautoescape %}
{% endblock %}
