{% extends "base.html" %}
{% block meta_title %}
<title>Contact Me | MJ Art Inspiration</title>
{% endblock %}
{% block body %}
<div class="container-fluid bio-body">
    <img src="http://media.alexrecker.com/images/marissa.jpg" height="150px" alt=""/>
    <div class="media">
        <div class="media-body">
            <h2 class="media-heading">
                Hi!  I'm Marissa
            </h2>
            <p>
                <p>This website is of art I've done between the ages of twelve and twenty-one.  I still have these pieces and enjoy selling them and recreating similar pieces for people at a reasanable price.</p>

                <p>If you are interesting in purchasing something or commisioning me to make an idea of your own, please email me at <a href="mailto:marissa@reckerfamily.com">
                marissa@reckerfamily.com</a>.</p>

                <p>Thanks for checking my website out!</p>

            </p>
            </p>
        </div>
    </div>
</div>
{% endblock %}
