<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#site-navbar"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="site-navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="{% url 'index' %}">Home</a>
        </li>
        {% for gallery in navbar.galleries %}
        <li>
          <a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>
