<div class="row">
  <div class="box">
    <div class="col-lg-12 text-center">
      <div id="carousel-example-generic" class="carousel slide">

        <h2 class="brand-before">
          <small>Welcome to</small>
        </h2>
        <img class="text-center" alt="" src="https://placeholdit.imgix.net/~text?txtsize=56&txt=600%C3%97300&w=600&h=300"/>
        <hr class="tagline-divider">
        <h2>
          <small>By
            <strong>Marissa Recker</strong>
          </small>
        </h2>

        <!-- Indicators -->
        <ol class="carousel-indicators hidden-xs">
          {% for item in carousel %}
          <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"></li>
          {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          {% load thumbnail %}
          {% for item in carousel %}
          <div class="item">
            {% thumbnail item.image "800x500" crop="center" as im %}
            <img class="img-responsive img-full" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
          </div>
          {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>

    </div>
  </div>
</div>
