{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
<div class="row">
  <div class="box">
    <div class="col-lg-12 text-center">
      <h2 class="brand-before">
        <small>Welcome to</small>
      </h2>
      <img class="img-responsive img-center" alt="" src="https://placeholdit.imgix.net/~text?txtsize=56&txt=600%C3%97300&w=600&h=300"/>
      <hr class="tagline-divider">
      <h2>
        <small>By
          <strong>Marissa Recker</strong>
        </small>
      </h2>
    </div>
  </div>
</div>
{% if carousel %}
{% include "showing/carousel.html" %}
{% endif %}
<div class="row">
  <div class="box">
    <div class="col-lg-12 text-center">
      <hr>
      <h2 class="intro-text text-center">Welcome!</h2>
      <hr>
      <p>
        Thank you so much for visiting my site.
      </p>
      <p>
        If you'd like to hire me for your project, feel free to <a href="{% url 'contact' %}">contact me</a>
      </p>
      <div class="text-center">
        <img alt="" src="{% static 'img/marissa.jpg' %}" width="300"/>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}
