{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
<div class="row">
  <div class="box">
    <div class="col-lg-12 text-center">
      <img class="img-responsive img-center" "alt="" src="{% static 'img/logo.jpg' %}""/>
      <hr class="fancy"/>
    </div>
    {% if carousel %}
    {% include "showing/carousel.html" %}
    {% endif %}
  </div>
  <hr class="fancy"/>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p><i class="fa fa-paint-brush"></i> <a href="https://www.aionline.edu/?source=BONAG&ven=search">Art Institute Online</a></p>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}
