{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
<div class="row">
  <div class="box carousel-box">
    {% if carousel %}
    {% include "showing/carousel.html" %}
    {% endif %}
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-right">
        <img src="{% static 'img/stamp.jpg' %}"/>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}
